<app-toolbar></app-toolbar>
<div class="intro">
    <div class="intro-text">
        <p><span>SOLUÇÕES TECNOLÓGICAS </span>PARA O SEU AGRONEGÓCIO</p>
    </div>
</div>
<div class="section">
    <!--Sobre a empresa-->
    <div class="sobre" id="sobre">
        <div class="historia">
            <div class="title"><h2>Serviço de assistência técnica na área da agricultura</h2></div>
            <div class="text-1">
                <p>Criada pelo Eng. Agronº Gabreil H. Oliveira, a MACHADO CONSULTORIA surgiu no mercado para fortalecer o setor rural, visando o aumento da produção e da produtividade, a melhoria e a elevação dos padrões dos produtores rurais.</p>
            </div>
            <div class="text-2">
                <p>A Machado Consultoria Agropecuária trabalha pelo desenvolvimento da pecuária brasileira, sempre sustentada pelos pilares da qualidade, ética, respeito e compromisso com os resultados. </p>
                <p>Somos uma equipe formada  por consultores com ampla vivência em gestão, planejamento e formulação de estratégias para seu negócio agropecuário.
                </p>
            </div>  
        </div>
    </div>
</div>

<div class="div-service" id="service">
    <div class="text-service">
        <h2>Nossos serviços</h2>
        <p>Agilidade, transparência e profissionalismo</p>
    </div>
    <div class="acordion-service">
        <app-acordion></app-acordion>
    </div>
   
</div>


<!--Contato-->
<app-contats></app-contats>
<!--Footer-->
<app-footer></app-footer>

